body {
    background-color: #F3F1FE;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
}

.nota1 {
    font-size: 14px;
}

.breadcrump > li {
    display: inline;
    color: blue;
}

.breadcrump li+li::before {
    padding: 10px;
    content: ">";
}

.breadcrump a {
    text-decoration: none;
    margin-right: 15px;
}

.breadcrump a:hover {
    color: yellow;
}

.head {
    background-color: #292929;
    display: flex;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    height: 70px;
}

.calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1300px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

.contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contacto a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.imgInsta, .imgfacebk {
    height: 250px;
    width: auto;
    transition: transform 0.3s ease;
}


.imgInsta:hover, .imgfacebk:hover {
    transform: scale(1.1);
}

.ubi {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.ubi a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
    
.img-maps {
    height: 300px;
    width: auto;
    transition: transform 0.3s ease;
}

.img-maps:hover {
    transform: scale(1.1);
}

.pistas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: auto;
}

.pistas img {
    width: 100%;
    height: auto;
    transition: transform 0.3 ease;
}

.pistas img:hover {
    transform: scale(1.1);
}

.instalaciones, .presentacion {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}